/compiled.png
/compiled_180615fri.jpg.png
/compiled_220711mon.jpg.png
/compiled_221117thu3.jpg.png
/compiled_221117thu4.jpg.png
/compiled_221128mon1.jpg.png
/compiled_221128mon2.jpg.png
/data
/round.xcf